@use "sass:color";
@use "variables" as *;

$block-length: 1.5rem;
$row-gap: 1rem;

.tab-container {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;

    #tab {
        display: flex;
        flex-wrap: wrap;
    }

    .note-column {
        display: flex;
        flex-direction: column;
        padding: 0 7px;
        margin-bottom: $row-gap;
        cursor: pointer;
    
        span {
            display: block;
            height: $block-length;
            font-size: 1.3rem;
        }
    }
}

.string-label-container {

    display: flex;
    flex-direction: column;
    width: 1.75rem;
    color: $white;
    background-color: $black;
    margin-bottom: $row-gap;

    div {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: $block-length;

        font-size: .9rem;
    }

}

.highlight {
    background-color: color.scale($active-color, $alpha: -70%);
}