@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600&display=swap');

$primary-font: 'League Spartan', sans-serif;
$white: #FFFFFF;
$dark-gray: #333333;
$black: #000000;
$active-color: #ff009d;