@import "variables", "tab";

@mixin fill-container {
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

html {
    @include fill-container;
}

body {
    @include fill-container;
    font-family: $primary-font;
    padding: 20px calc(15px + 3vw);
}

h1 {
    font-size: 2.25rem;
    font-weight: 600;
}